<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	  <listener class-name="com.compareimage.TestComponents.Listeners"/> 
</listeners>
  <test thread-count="1" name="DropDowns and Images Test">
  	
    <classes>
      <class name="com.compareimage.tests.Compare_Images_Test"/>
    </classes>
  </test> <!-- DropDowns and Images Test -->
</suite> <!-- Suite -->
